<div class="container">
  <%= image_pack_tag('media/images/autumn.jpg', class: "image") %>
  <%unless @is_raining%>
  <div class="rains">
    <span></span><span></span><span></span><span></span><span></span>
    <span></span><span></span><span></span><span></span><span></span>
    <span></span><span></span><span></span><span></span><span></span>
    <span></span><span></span><span></span><span></span><span></span>
  </div>
  <%end%>
  <div class="api-test">
    <%=%>
  </div>
</div>

